.hack-background {
  background: #f8f8f8;
}

.hack-section {
  display: flex;
  align-items: center;
  margin: 100px 0;
}

.hack-header {
  font-size: 60px;
  font-weight: 700;
  line-height: 82px;
  text-align: center;
  color: #444444;
  margin-top: 100px;
  margin-bottom: 20px;
}

.white-header {
  color: white;
}

.hack-body {
  max-width: 624px;
  font-size: 23px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  margin-bottom: 47px;

  &__time {
    font-size: 27px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
  }

  &__activity {
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
  }
}

.hack-card {
  margin: 38px 0;
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 5vw;
  justify-items: center;

  @media (max-width: 700px) {
    grid-template-columns: 100%;
  }

  &__image {
    max-width: 227px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
  }

  &__body {
    inline-size: 95%;
    max-width: 832px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
  }
}

.hack-timeline {
  overflow: auto;
  white-space: nowrap;
  &__image {
    min-width: 1000px;
    height: 100%;
    width: 100%;
  }
}

.with-underline {
  border-bottom: solid 3px;
  border-image: linear-gradient(
      90deg,
      #db4437 0.72%,
      #4285f4 38.68%,
      #f4b400 68.96%,
      #0f9d58 100%
    )
    1 round;
}

.hack-schedule-background {
  &__first {
    background-image: url("../../assets/Hack4GoodPage/schedule-background-1.png") !important;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__second {
    background-image: url("../../assets/Hack4GoodPage/schedule-background-2.png") !important;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hack-tabcontainer {
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.hack-tablist {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.hack-tab {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  color: #c4c4c4;
  font-size: 40px;
  font-weight: 700;
  line-height: 66px;
  text-align: center;

  &__selected {
    color: #444444;
  }
}

.hack-tabpanel {
  padding: 0;

  &__selected {
    padding: 65px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5vw;
    justify-items: start;

    @media (max-width: 700px) {
      grid-template-columns: 100%;
    }
  }
}

.hack-prize {
  &__carousel {
    margin: 40px 0;
    max-width: 900px;
    max-height: 594px;
    width: 100%;
    height: 100%;
    & .react-multiple-carousel__arrow--left {
      left: 0;
    }
    & .react-multiple-carousel__arrow--right {
      right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    @media (max-width: 850px) {
      height: 400px;
    }
    @media (max-width: 600px) {
      height: 300px;
    }
    @media (max-width: 450px) {
      height: 200px;
    }
  }
}

.hack-workshops {
  margin: 70px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5w;
  justify-items: center;

  @media (max-width: 960px) {
    grid-template-columns: 100%;
  }

  &__image {
    max-width: 615px;
    width: 100%;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 50px;
    font-weight: 700;
    line-height: 82px;
  }

  &__body {
    inline-size: 95%;
    max-width: 675px;
    font-size: 23px;
    font-weight: 400;
    line-height: 46px;
    @media (max-width: 1200px) {
      font-size: 1.8vw;
      line-height: 3.6vw;
    }
    @media (max-width: 960px) {
      font-size: 23px;
      line-height: 46px;
    }
  }
}

.hack-sponsor {
  &__header {
    font-size: 50px;
    font-weight: 700;
    line-height: 82px;
    text-align: center;
  }

  &__group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__gold {
    background: white;
    max-height: 272px;
    max-width: 272px;
    object-fit: contain;
    border-radius: 25%;
    margin: 50px;
  }

  &__silver {
    background: white;
    max-height: 227px;
    max-width: 227px;
    object-fit: contain;
    border-radius: 25%;
    margin: 50px;
  }

  &__bronze {
    background: white;
    max-height: 177px;
    max-width: 177px;
    object-fit: contain;
    border-radius: 25%;
    margin: 50px;
  }
}

.hack-faq {
  &__container {
    max-width: 1150px;
    margin: 33px 5vw;

    & .faq-row-wrapper {
      background-color: transparent;

      & .faq-body {
        & .faq-row {
          border-bottom: 2px solid rgba(68, 68, 68, 0.3);
          padding-top: 20px;

          & .row-title {
            color: #4285f4;
            font-size: 30px;
            .icon-wrapper {
              max-width: 40px;
              max-height: 40px;
              top: 30px;
            }

            &.expanded {
              .icon-wrapper {
                transform: rotate(45deg);
              }
            }

            &.expanding {
              .icon-wrapper {
                transform: rotate(45deg);
              }
            }
          }
          & .row-content {
            max-width: 1050px;
            .row-content-text {
              font-size: 25px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }

    .icon-wrapper {
      max-width: 40px;
      max-height: 40px;
      transform: rotate(0deg);
      transition: transform 0.3s;
      position: absolute;
      top: 13px;
      right: 12px;
    }
  }

  &__arrow {
    width: 40px;
    height: 40px;
  }
}

// .timeline {
//   padding-top: 0 !important;
//   margin-bottom: 70px !important;
//   width: 75% !important;

//   @media only screen and (min-width: 1920px) {
//     max-width: 1600px !important;
//   }
// }

// .vertical-timeline-element-date {
//   font-size: 16px !important;
// }

// .vertical-timeline-element-subtitle {
//   font-size: 16px !important;
// }

// .vertical-timeline-element-title {
//   font-size: 20px;
// }

// .vertical-timeline-element-body {
//   font-size: 14px !important;
// }

// .vertical-timeline-element-body-list {
//   padding-top: 10px;
//   padding-left: 40px;
// }

.h4g-sponsor-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

  margin: 50px auto;

  h3 {
    align-self: flex-start;
    font-size: large;
  }

  @media screen and (max-width: $bp-medium) {
    max-width: 250px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.h4g-sponsor-osa-logo {
  width: 220px !important;
}

.h4g-panel-judges-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  max-width: 400px;
  margin: 0 auto 30px;

  @media screen and (max-width: $bp-small) {
    max-width: 300px;
  }

  @media screen and (max-width: $bp-smallest) {
    max-width: 250px;
  }

  // @media screen and (max-width: 1200px) {
  //   margin-bottom: ;
  // }

  @media screen and (min-width: 1200px) {
    ul {
      min-height: 120px;
    }
  }
}

.h4g-panel-judges-component-profile-img {
  max-width: 200px;
}

.h4g-panel-judges-component-company-img {
  margin-top: 20px;
  max-width: 100px;
}

.h4g-section-title {
  text-align: center;
  font-size: large;
  margin-bottom: 50px;
  text-decoration: underline;
}

.h4g-panel-judges-component-name {
  font-size: 1.2em;
}

.h4g-panel-judges-component-grid-column {
  > div {
    text-align: center;
  }
}

.h4g-panel-judges-component-grid {
  max-width: 2600px;
  &#{&}#{&}#{&}#{&} {
    margin: auto !important;
  }
}

.h4g-problem-statement-component {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  margin: 0 20px;
}

.h4g-problem-statement-component-img-container {
  img {
    max-width: 200px;
    max-height: 100px;
  }

  margin: 30px;
  min-width: 200px;
  text-align: center;
}

.h4g-problem-statements-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.h4g-problem-statement-description-container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
