.projects-header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-dark-yellow-grey, 0.5),
      rgba($color-dark-yellow-grey, 0.5)
    ),
    url("../../public/assets/ProjectsPage/header.jpg") !important;
}

.hackathon-header {
  height: 950px !important;
  background-image: linear-gradient(
      to bottom,
      transparent,
      transparent,
      #f8f8f8
    ),
    url("../../public/assets/ProjectsPage/hfg2022_background.png") !important;
  flex-direction: column;
}

.projects {
  padding: $l-size;
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    font-size: 1.4rem;
  }

  &__list-icon {
    cursor: default !important;
  }

  &__project {
    margin-bottom: $l-size;
  }
}

.flex {
  display: flex;
  align-items: center;
}
