@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GoogleSans-Bold-v1.27";
  src: url("fonts/GoogleSans-Bold-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-BoldItalic-v1.27";
  src: url("fonts/GoogleSans-BoldItalic-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-Italic-v1.27";
  src: url("fonts/GoogleSans-Italic-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-Medium-v1.27";
  src: url("fonts/GoogleSans-Medium-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-MediumItalic-v1.27";
  src: url("fonts/GoogleSans-MediumItalic-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-Regular-v1.27";
  src: url("fonts/GoogleSans-Regular-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Bold-v1.27";
  src: url("fonts/GoogleSansDisplay-Bold-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-BoldItalic-v1.27";
  src: url("fonts/GoogleSansDisplay-BoldItalic-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Italic-v1.27";
  src: url("fonts/GoogleSansDisplay-Italic-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Medium-v1.27";
  src: url("fonts/GoogleSansDisplay-Medium-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-MediumItalic-v1.27";
  src: url("fonts/GoogleSansDisplay-MediumItalic-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Regular-v1.27";
  src: url("fonts/GoogleSansDisplay-Regular-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
