@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Product Sans Bold Italic";
  src: url("fonts/Product Sans Bold Italic.ttf") format("truetype");
  font-weight: 800;
  font-style: BoldItalic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("fonts/Product Sans Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans Italic";
  src: url("fonts/Product Sans Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("fonts/Product Sans Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-Bold-v1.27";
  src: url("fonts/GoogleSans-Bold-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-BoldItalic-v1.27";
  src: url("fonts/GoogleSans-BoldItalic-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-Italic-v1.27";
  src: url("fonts/GoogleSans-Italic-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-Medium-v1.27";
  src: url("fonts/GoogleSans-Medium-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-MediumItalic-v1.27";
  src: url("fonts/GoogleSans-MediumItalic-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSans-Regular-v1.27";
  src: url("fonts/GoogleSans-Regular-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Bold-v1.27";
  src: url("fonts/GoogleSansDisplay-Bold-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@font-face {
  font-family: "GoogleSansDisplay-BoldItalic-v1.27";
  src: url("fonts/GoogleSansDisplay-BoldItalic-v1.27.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Italic-v1.27";
  src: url("fonts/GoogleSansDisplay-Italic-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Medium-v1.27";
  src: url("fonts/GoogleSansDisplay-Medium-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-MediumItalic-v1.27";
  src: url("fonts/GoogleSansDisplay-MediumItalic-v1.27.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoogleSansDisplay-Regular-v1.27";
  src: url("fonts/GoogleSansDisplay-Regular-v1.27.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  /*Adds the font-outline Tailwind CSS property*/
  .font-outline {
    -webkit-text-stroke: 4px black;
  }
}
